@use 'sass:math';

h1 {
    color: gold;
}

circle {
    r:5;
    cursor: pointer;
}

@function num-256($n) {
    @return math.round((1 + math.sin($n)) * 128)
}

@function some-color($i) {
    @return rgb(num-256(113 * $i), num-256(941 * $i), num-256(3413 * $i))
}

@for $i from 1 to 999 {
  circle[label='#{$i}'] {
    fill: some-color($i)
  }
}


text {
    transition: all 1s;
    fill: transparent;
}

circle:hover + text {
    fill:black;
}