@use 'sass:list';

* {
    box-sizing: border-box;
}

html, body, #content{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


.row{
    display: flex;
}

.col{
    flex-grow: 1;
}

#text{
    border: 1px solid blue;
}

svg{
    border: 1px solid red;
}

circle {
    r:1;
    stroke-width: 1;
    cursor: pointer;
}


$fills: red blue green gold orange magenta brown pink black khaki indigo;
$strokes: darkblue darkcyan darkgray forestgreen lightskyblue navy olive orangered plum salmon teal yellow wheat;

@function get-fill($i) {
    @return list.nth($fills, $i % 11 + 1)
}

@function get-stroke($i) {
    @return list.nth($strokes, $i % 13 + 1)
}

@for $i from 1 to 11 * 13  {
  [label='#{$i}'] {
    fill: get-fill($i);
    stroke: get-stroke($i);
  }
}


