@use 'sass:list';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    color: #333;
}

html, body, #content{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


.row{
    display: flex;
}

.col{
    flex-grow: 1;
}

svg{
    border-right: 1px solid #eee;
    padding: 1em;
}

#text{
    overflow: auto;
}


circle {
    r:.5;
    stroke-width: .3;
    cursor: pointer;
}

g{
    transition: all 1s;
    opacity: .5;
    &:hover{
        opacity: 1;
    }
}

.txt {
    padding: 5em 1em;
    &::before{
        content: attr(label);
        display: block;
        text-align: center;
        font-size: 150%;
    }
}

$fills: red blue green gold orange magenta brown pink black khaki indigo;
$strokes: darkblue darkcyan forestgreen lightskyblue navy olive orangered plum salmon teal yellow wheat darkgray;

@function get-fill($i) {
    @return list.nth($fills, $i % 11 + 1)
}

@function get-stroke($i) {
    @return list.nth($strokes, $i % 13 + 1)
}

@for $i from 1 to 11 * 13  {
  [label='#{$i}'] {
    fill: get-fill($i);
    stroke: get-stroke($i);
  }
}


